.design {
  margin-bottom: 120px;
  padding-top: 60px;
  position: relative;

  @include small-tablet {
    margin-bottom: 60px;
  }

  &__line {
    position: absolute;
    width: 120%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(14deg);

    img {
      width: 100%;
      height: auto;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 290px;
    height: 360px;
    background-image: url('./../img/leafs/05.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 18px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include small-tablet {
      grid-template-columns: 1fr;
    }
  }


}

.design-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__image {
    height: 410px;
    margin-bottom: 65px;
    border-radius: 0 0 100px 0;
    overflow: hidden;
    display: inline-block;

    @include small-tablet {
      margin: 0 auto;
      margin-bottom: 30px;
      // height: 340px;
      width: 70%;
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }

    &--bottom {
      height: 440px;
      margin-bottom: 0;
      border-radius: 80px 0 0 0;
      align-self: flex-end;

      @include small-tablet {
        height: unset;
        margin-bottom: 20px;

        img {
          width: 100%;
        }
      }
    }
  }
}


.design-right {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include small-tablet {
    padding-left: 0;
  }

  &__image {
    overflow: hidden;

    &--big {
      width: 100%;
      height: 650px;
      border-radius: 150px 0 0 0;
      margin-bottom: 96px;

      @include small-tablet {
        height: auto;
        width: 70%;
        height: 400px;
        margin: 0 auto;
        margin-bottom: 30px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }
    }

    &--small {
      height: 480px;
      align-self: flex-end;
      margin-bottom: 87px;

      @include small-tablet {
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding-left: 112px;

    @include tablet {
      padding-left: 50px;
    }

    @include small-tablet {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 33px;

    &::before {
      display: none;
    }
  }
}