.header {
  padding: 25px 0;
  position: relative;
  z-index: 100;

  &.sticky {
    background-color: rgba(#f9f3de, 0.5);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  @include tablet {
    padding: 20px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    @include mobile {
      display: none;
    }
  }

  &__burger {
    display: none;

    @include mobile {
      display: block;

      width: 32px;
      height: 32px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__tel {
    font-family: var(--second-family);
    font-weight: 250;
    font-size: 45px;
    text-align: right;
    color: #505050;
    transition: color .3s ease-out;

    @include hover {
      color: #f39f3d;
    }

    @include tablet {
      font-size: 36px;
    }
  }

  &__plug {
    @include tablet {
      display: none;
    }
  }
}