.hero {
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 120px;
  position: relative;

  @include tablet {
    padding-top: 10px;
    margin-bottom: 80px;
    padding-bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    width: 230px;
    height: 280px;
    background-image: url('./../img/leafs/01.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 450px;
    height: 450px;
    background-image: url('./../img/leafs/02.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__line {
    position: absolute;
    width: 75%;
    height: auto;
    top: 40%;
    left: -10%;
    transform: rotate(26deg);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-transform: uppercase;

    @include tablet {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      gap: 50px 20px;
    }
  }

  &__left {
    grid-column: 3 span;
    padding-top: 20px;

    @include tablet {
      grid-column: 1 span;
      padding-top: 0;
      height: 350px;
    }
  }

  &__right {
    grid-column: 4 span;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include tablet {
      grid-column: 1 span;
      margin-left: unset;
      height: 350px;
    }
  }

  &__image {
    overflow: hidden;



    &--small {
      border-radius: 150px 0;

      @include tablet {
        border-radius: 0;
        height: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          width: auto;
          display: block;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &--big {
      border-radius: 200px 200px 0 0;
      max-height: 525px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include tablet {
          width: auto;
          display: block;
        }
      }

      @include tablet {
        height: auto;
        border-radius: 0;

        display: flex;
        justify-content: flex-start;
      }
    }
  }

  &__content {
    grid-column: 5 span;
    padding-left: 10px;
    padding-right: 25px;

    @include tablet {
      grid-column: 2 span;
      order: -1;
      text-align: center;
    }
  }



  &__logo {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 25px;

    @include tablet {
      margin: 0 auto;
      width: 140px;
    }
  }

  &__desc {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--second-family);
    font-weight: 250;
    font-size: 95px;
    color: #252525;

    @include tablet {
      font-size: 72px;
      margin-bottom: 5px;
    }
  }

  &__discount {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 18px;
    color: #000;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 135px;
    height: 135px;
    border-radius: 100%;
    position: relative;
    background-color: #75d5c8;

    font-weight: 500;
    font-size: 14px;
    color: #252525;

    @include tablet {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      padding: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      border: 1px solid #505050;
      border-radius: 100%;
      background-color: #f9f3de;
    }
  }
}