.services {
  padding-top: 120px;
  position: relative;

  @include tablet {
    padding-top: 80px;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: -200px;
    width: 290px;
    height: 410px;
    background-image: url('./../img/leafs/04.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 1920px) {
      width: 15%;
      height: 60vh;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    @include tablet {
      margin-bottom: 40px;
    }
  }
}