.tabs {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 67px;

  @include small-tablet {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include small-tablet {
      flex-direction: row;
      gap: 15px 30px;
      flex-wrap: wrap;
      justify-content: center;

    }
  }

  &__buttons {
    grid-column: 3 span;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include small-tablet {
      grid-column: 1 span;

      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    grid-column: 6 span;

    @include small-tablet {
      grid-column: 1 span;
    }
  }

  &__btn {

    font-weight: 500;
    font-size: 25px;
    color: #000;
    position: relative;
    transition: opacity .6s linear, color .3s ease-out, transform .6s ease-out !important;

    @include tablet {
      font-size: 22px;
    }

    @include small-tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 44px);
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 0;
      background-color: #f39f3d;

      transition: width .3s ease-out;
      will-change: width;

      @include tablet {
        left: calc(100% + 10px);
      }

      @include small-tablet {
        top: unset;
        transform: unset;
        bottom: 0;
        left: 0;
      }
    }

    &.active {
      color: #f39f3d;

      &::after {
        width: 150px;

        @include tablet {
          width: 100px;
        }

        @include small-tablet {
          width: 100%;
        }
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 45px;

      @include tablet {
        margin-bottom: 30px;

      }

      @include small-tablet {
        margin-bottom: 0;
      }



    }

    &:last-of-type {
      margin-bottom: 60px;

      @include small-tablet {
        margin-bottom: 0;
      }
    }

    @include hover {
      color: #f39f3d;
    }
  }

  &__image {
    border-radius: 80px 0 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__pricelist {
    display: none;

    &.active {
      display: block;
    }
  }
}