<section class="benefits">
  <div class="benefits__line">
    <img src="./img/lines/02.svg" alt="">
  </div>
  <div class="container benefits__container">
    <div class="benefits__content" data-aos="custom-fade-up" data-aos-delay="300">
      <ul class="benefits__list list">
        <li class="list__item">
          <span>РАДУЕМ.</span>
          Мы любим баловать и приятно удивлять своих клиентов и периодически устраиваем розыгрыши, бонусы, дарим
          подарки. Наши сюрпризы, только приятные!
        </li>
        <li class="list__item">
          <span>ОБУЧАЕМСЯ.</span>
          Следим за всеми новинками в ногтевом искусстве, несколько раз в год проходим различные курсы. Учеба для нас в
          удовольствие, даже спустя столько лет работы!
        </li>
        <li class="list__item">
          <span>ПРЕДЛАГАЕМ РАЗЛИЧНЫЕ ВИДЫ ДИЗАЙНОВ.</span>
          Мы знаем, что чаще вы любите великолепное однотонное покрытие. Но если у вас будет настроение, мы обязательно
          исполним любой дизайн! Геометрия, бархатный песок, литье, роспись, блестки, стразы, слайдердизайн,
          омбре(градиент), френчи, лунки и многое другое. Работаем на лучших материалах для дизайна.
        </li>
        <li class="list__item">
          <span>ВАШ ОТДЫХ И УДОВОЛЬСТВИЕ.</span>
          Здесь вы можете расслабиться и отвлечься от всех забот. Всегда предлагаем нашим гостям МЕНЮ НАПИТКОВ. Каждый
          сезон, обновляем меню. По выходным коктейли или игристое. Вкусно! Если вам необходимо поработать, мы конечно,
          тоже создали все условия для этого!
        </li>
        <li class="list__item">
          <span>ПЛАТИМ НАЛОГИ.</span>
          Мы работаем легально и платим налоги.
          Здесь всегда вам рады!
        </li>
      </ul>
    </div>

    <div class="benefits__images" data-aos="custom-fade-up">
      <div class="benefits__img benefits__img--main">
        <picture>
          <source srcset="./img/benefits/01-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/benefits/01.webp">
          <img src="./img/benefits/01.jpg" srcset="./img/benefits/01-2x.jpg 2x" alt="">
        </picture>
      </div>
      <div class="benefits__img benefits__img--sec">
        <picture>
          <source srcset="./img/benefits/02-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/benefits/02.webp">
          <img src="./img/benefits/02.jpg" srcset="./img/benefits/02-2x.jpg 2x" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>