<section class="design" id="design">
  <div class="design__line">
    <img src="./img/lines/02.svg" alt="">
  </div>
  <div class="container">
    <div class="design__header" data-aos="custom-fade-up" data-aos-delay="600">
      <span class="h2 design__title">интерьер и оборудование</span>
      <p class="desc design__desc">Каждая деталь в нашей студии продумана до мелочей и служит для вашего комфорта</p>
    </div>

    <div class="design__container">
      <div class="design__left design-left">
        <div class="design-left__shape shape" data-aos="custom-fade-up" data-aos-delay="300">
          <div class="shape__img shape__img--main">
            <picture>
              <source srcset="./img/design/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/design/01.webp">
              <img src="./img/design/01.jpg" srcset="./img/design/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="shape__img shape__img--arc gsap-animate">
            <picture>
              <source srcset="./img/design/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/design/02.webp">
              <img src="./img/design/02.jpg" srcset="./img/design/02-2x.jpg 2x" alt="">
            </picture>
          </div>
        </div>
        <div class="design-left__image" data-aos="custom-fade-up" data-aos-delay="300">
          <picture>
            <source srcset="./img/design/03-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/design/03.webp">
            <img src="./img/design/03.jpg" srcset="./img/design/03-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="design-left__image design-left__image--bottom" data-aos="custom-fade-up" data-aos-delay="300">
          <picture>
            <source srcset="./img/design/04-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/design/04.webp">
            <img src="./img/design/04.jpg" srcset="./img/design/04-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="design__right design-right">
        <div class="design-right__image design-right__image--big" data-aos="custom-fade-up" data-aos-delay="300">
          <picture>
            <source srcset="./img/design/05-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/design/05.webp">
            <img src="./img/design/05.jpg" srcset="./img/design/05-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="design-right__image design-right__image--small" data-aos="custom-fade-up" data-aos-delay="300">
          <picture>
            <source srcset="./img/design/06-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/design/06.webp">
            <img src="./img/design/06.jpg" srcset="./img/design/06-2x.jpg 2x" alt="">
          </picture>
        </div>
        <div class="design-right__content" data-aos="custom-fade-up" data-aos-delay="300">
          <span class="h2 design-right__title">мы рады вам всегда!</span>
          <a href="#" class="hero__btn design-right__btn">
            Записаться
          </a>
        </div>
      </div>
    </div>
  </div>
</section>