<header class="header">
  <div class="container header__container">
    <div class="header__plug"></div>
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#about" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">Услуги и цены</a>
        </li>
        <li class="nav__item">
          <a href="#work" class="nav__link">Работы</a>
        </li>
        <li class="nav__item">
          <a href="#design" class="nav__link">Интерьер</a>
        </li>
      </ul>
    </nav>
    <a href="tel:79312525000" class="header__tel">+7 (931) 25-25-000</a>
  </div>
</header>