<section class="hero">
  <div class="hero__line">
    <img src="./img/lines/01.png" alt="">
  </div>
  <div class="container">
    <h1 class="hero__title" data-aos="custom-fade-up">Студия эстетичного маникюра и педикрюра</h1>

    <div class="hero__container">
      <div class="hero__left">
        <div class="hero__image hero__image--small" data-aos="custom-fade-up" data-aos-delay="100">
          <picture>
            <source srcset="./img/hero/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/hero/01.webp">
            <img src="./img/hero/01.jpg" srcset="./img/hero/01-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="hero__content" data-aos="custom-scale" data-aos-duration="1000" data-aos-delay="700">
        <a class="hero__logo">
          <img src="./img/logo.png" alt="Под солнцем">
        </a>
        <p class="hero__desc">Красота начинается с кончиков пальцев</p>
        <p class="hero__discount">Дарим скидку 10% на первое посещение</p>
        <a href="#" class="hero__btn">
          Записаться
        </a>
      </div>
      <div class="hero__right">
        <div class="hero__image hero__image--big" data-aos="custom-fade-up" data-aos-delay="400">
          <picture>
            <source srcset="./img/hero/02-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/hero/02.webp">
            <img src="./img/hero/02.jpg" srcset="./img/hero/02-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>