<section class="map">
  <div id="map" class="map__map"></div>
  <div class="container map__container">
    <div class="map__content">
      <span class="h2 map__title">Контакты</span>
      <address class="map__address address">
        <div class="address__item">
          <span class="address__title">Ждем вас по адресу</span>
          <span class="address__desc">Санкт-Петербург, 84, корпус 2</span>
        </div>
        <div class="address__item">
          <span class="address__title">Звоните</span>
          <a href="tel:79312525000" class="address__desc">+7 (931) 25-25-000</a>
        </div>
        <div class="address__item">
          <span class="address__title">ПИШИТЕ</span>
          <a href="mailto:@pod_solncemm" class="address__desc">@pod_solncemm</a>
        </div>
      </address>
    </div>
  </div>
</section>