<section class="services" id="services">
  <div class="container">
    <div class="services__header" data-aos="custom-fade-up">
      <span class="h2 services__title">Услуги и цены</span>
    </div>
    <div class="services__container tabs">
      <div class="tabs__buttons">
        <button class="tabs__btn btn-reset" data-tabs-type="manicure" data-aos="custom-fade-up">Маникюр</button>
        <button class="tabs__btn btn-reset" data-tabs-type="pedicure" data-aos="custom-fade-up"
          data-aos-delay="200">Педикюр</button>
        <button class="tabs__btn btn-reset active" data-tabs-type="design" data-aos="custom-fade-up"
          data-aos-delay="400">Дизайн</button>
        <button class="tabs__btn btn-reset" data-tabs-type="buildup" data-aos="custom-fade-up"
          data-aos-delay="600">Наращивание</button>
        <div class="tabs__image" data-aos="custom-fade-up" data-aos-delay="600">
          <picture>
            <source srcset="./img/services/01-2x.webp" media="(min-width: 1900px)">
            <source srcset="./img/services/01.webp">
            <img src="./img/services/01.jpg" srcset="./img/services/01-2x.jpg 2x" alt="">
          </picture>
        </div>
      </div>
      <div class="tabs__content" data-aos="custom-fade-up" data-aos-delay="600">
        <div class="tabs__pricelist pricelist tabs__pricelist--manicure active">
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">Базовый</span>
              <span class="pricelist__price">50</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Френч, втирка, обратный френч, фольга, растяжка блестками, лунки, камифубуки, полоски, мазки, паталь,
                точки, слайдер наклейки, блёстки, мазки
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Геометрия, градиент, двойной френч, акварель, битое стекло, роспись
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">СЛОЖНЫЙ АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Детальная прорисовка, мелкая геометрия
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">УХОДОВЫЕ ПРОЦЕДУРЫ</span>
            </div>
            <div class="pricelist__content">
              <ul class="list-reset pricelist__list">
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Восстановление IBX</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">400</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Парафинотерапия</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Массаж рук с маской</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Увлажняющая маска</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">300</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">SPA массаж-уход</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">600</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs__pricelist pricelist tabs__pricelist--pedicure">
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">Базовый</span>
              <span class="pricelist__price">50</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Френч, втирка, обратный френч, фольга, растяжка блестками, лунки, камифубуки, полоски, мазки, паталь,
                точки, слайдер наклейки, блёстки, мазки
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Геометрия, градиент, двойной френч, акварель, битое стекло, роспись
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">СЛОЖНЫЙ АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Детальная прорисовка, мелкая геометрия
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">УХОДОВЫЕ ПРОЦЕДУРЫ</span>
            </div>
            <div class="pricelist__content">
              <ul class="list-reset pricelist__list">
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Восстановление IBX</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">400</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Парафинотерапия</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Массаж рук с маской</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Увлажняющая маска</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">300</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">SPA массаж-уход</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">600</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs__pricelist pricelist tabs__pricelist--design">
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">Базовый</span>
              <span class="pricelist__price">50</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Френч, втирка, обратный френч, фольга, растяжка блестками, лунки, камифубуки, полоски, мазки, паталь,
                точки, слайдер наклейки, блёстки, мазки
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Геометрия, градиент, двойной френч, акварель, битое стекло, роспись
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">СЛОЖНЫЙ АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Детальная прорисовка, мелкая геометрия
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">УХОДОВЫЕ ПРОЦЕДУРЫ</span>
            </div>
            <div class="pricelist__content">
              <ul class="list-reset pricelist__list">
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Восстановление IBX</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">400</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Парафинотерапия</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Массаж рук с маской</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Увлажняющая маска</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">300</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">SPA массаж-уход</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">600</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tabs__pricelist pricelist tabs__pricelist--buildup">
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">Базовый</span>
              <span class="pricelist__price">50</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Френч, втирка, обратный френч, фольга, растяжка блестками, лунки, камифубуки, полоски, мазки, паталь,
                точки, слайдер наклейки, блёстки, мазки
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Геометрия, градиент, двойной френч, акварель, битое стекло, роспись
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">СЛОЖНЫЙ АРТ</span>
              <span class="pricelist__price">100</span>
            </div>
            <div class="pricelist__content">
              <p class="pricelist__desc">
                Детальная прорисовка, мелкая геометрия
              </p>
            </div>
          </div>
          <div class="pricelist__info">
            <div class="pricelist__header">
              <span class="pricelist__name">УХОДОВЫЕ ПРОЦЕДУРЫ</span>
            </div>
            <div class="pricelist__content">
              <ul class="list-reset pricelist__list">
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Восстановление IBX</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">400</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Парафинотерапия</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Массаж рук с маской</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">500</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">Увлажняющая маска</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">300</span>
                </li>
                <li class="pricelist__item pricelist-item">
                  <span class="pricelist-item__name">SPA массаж-уход</span>
                  <span class="pricelist-item__separator"></span>
                  <span class="pricelist-item__price">600</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>