<section class="work" id="work">
  <div class="container">
    <div class="work__header" data-aos="custom-fade-up">
      <span class="h2 work__title">Гордимся каждой работой</span>
      <p class="desc work__desc">Больше работ в нашем <a href="#">Telegram-канале</a></p>
    </div>
    <div class="work__content">
      <div class="swiper work__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/01.webp">
              <img src="./img/work/01.jpg" srcset="./img/work/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/02.webp">
              <img src="./img/work/02.jpg" srcset="./img/work/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/03.webp">
              <img src="./img/work/03.jpg" srcset="./img/work/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/04.webp">
              <img src="./img/work/04.jpg" srcset="./img/work/04-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/01.webp">
              <img src="./img/work/01.jpg" srcset="./img/work/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/02.webp">
              <img src="./img/work/02.jpg" srcset="./img/work/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/03.webp">
              <img src="./img/work/03.jpg" srcset="./img/work/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/04.webp">
              <img src="./img/work/04.jpg" srcset="./img/work/04-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/03.webp">
              <img src="./img/work/03.jpg" srcset="./img/work/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/04.webp">
              <img src="./img/work/04.jpg" srcset="./img/work/04-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/03.webp">
              <img src="./img/work/03.jpg" srcset="./img/work/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/04.webp">
              <img src="./img/work/04.jpg" srcset="./img/work/04-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/work/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/work/01.webp">
              <img src="./img/work/01.jpg" srcset="./img/work/01-2x.jpg 2x" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="work__control">
        <div class="work__btn work__btn--prev">
          <svg width="31" height="9" viewBox="0 0 31 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.646444 3.64645C0.451183 3.84171 0.451183 4.15829 0.646444 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646444 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z"
              fill="#505050" />
          </svg>
        </div>
        <div class="work__pagination swiper-pagination"></div>
        <div class="work__btn work__btn--next">
          <svg width="31" height="9" viewBox="0 0 31 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M30.3462 4.85355C30.5415 4.65829 30.5415 4.34171 30.3462 4.14645L27.1643 0.964466C26.969 0.769204 26.6524 0.769204 26.4571 0.964466C26.2619 1.15973 26.2619 1.47631 26.4571 1.67157L29.2856 4.5L26.4571 7.32843C26.2619 7.52369 26.2619 7.84027 26.4571 8.03553C26.6524 8.2308 26.969 8.2308 27.1643 8.03553L30.3462 4.85355ZM-0.00732422 5H29.9927V4H-0.00732422V5Z"
              fill="#505050" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>